<%inherit file = "base_template.htm"/>

<%block name="content">
${ rental_inventory }
<h1>all inventory:</h1>
<div class="pull-right">
	<a class="btn btn-default" href="/Administration/edit_rental_inventory/new/">Create Inventory</a>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>title</th>
			<th>description</th>
			<th>category</th>

			<th>manufacturer</th>
			<th>sku number</th>

		</tr>
	</thead>
	<tbody>
		%for i in rental_inventory:
		<tr>
			<td>${ i.title }</td>
			<td>${ i.description }</td>
			<td>${ i.category }</td>

			<td>${ i.manufacturer }</td>
            <td>${ i.sku_number }</td>
			<td><a href="edit_inventory/${ i.id }/">Edit</a></td>

			<td>${ i.active }<a href="/Administration/edit_inventory__delete/${ i.id }/">  Remove</a></td>
		</tr>
		%endfor
	</tbody>
</table>

</%block>