<%inherit file="base_template.htm" />

<%block name = "header">
Contact us at 8888-999-9

</%block>

<%block name="content">
<div class="row">
        <div id="left_side" class="col-md-2">Our Site:
		</br>
		<a href="/calculator/trial"><button type="button" class="btn btn-default btn-lg">home</a></button></br>
		<a href="/calculator/terms"><button type="button" class="btn btn-default btn-lg">terms</a></button></br>
		<a href="/calculator/aboutus"><button type="button" class="btn btn-default btn-lg">about us</a></button></br>
		<a href="/calculator/contactus"><button type="button" class="btn btn-default btn-lg">contact us</a></button>
		
		
		
		</div>
        <div id="center" class="col-md-10">
   		 <%block name="stupid">
   		 <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p><h2>This is a really cool label! <span class="label label-success">Success</span></h2></br><a href="#">You've Got Mail! with a badge... <span class="badge">42</span></a>
   		 </%block>
		</div>
</div>
</%block>

<%block name="footer">
<div id="footer" class="col-md-5"><a href="trial">home</a>
		<a href="/calculator/terms">terms</a>
		<a href="/calculator/aboutus">about us</a>
		<a href="/calculator/contactus">contact us</a></div>

</%block>
