<%inherit file = "base_template.htm"/>

<%block name="content">
${ User }
<h1>all users:</h1>
<div class="pull-right">
	<a class="btn btn-default" href="/edit_user/new/">Create User</a>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>username</th>
			<th>first name</th>
			<th>last name</th>
			<th>active</th>
			</tr>
	</thead>
	<tbody>
		%for u in User:
		<tr>
			<td>${ u.username }</td>
			<td>${ u.first_name }</td>
			<td>${ u.last_name }</td>

			<td><a href="/edit_user/${ u.id }/">Edit</a></td>

			<td>${ u.active }<a href="/edit_user__delete/${ u.id }/">  Remove</a></td>
		</tr>
		%endfor
	</tbody>
</table>

</%block>